<form action="/make_move" method="POST">
<p>
<strong style="color: red; font-size: 1em;">Player 1 (<%= player1.name %>) is X.</strong><br/>
<strong style="color: red; font-size: 1em;">Player 2 (<%= player2.name %>) is O.</strong><br/>
<strong style="color: red; font-size: 1em;">Board size: <%= board_size %>.</strong><br/>
<strong style="color: red; font-size: 1em;">Number in row to win: <%= win_size %>.</strong><br/>
<br/>

<strong style="color: blue; font-size: 2em;"> Status: <%= @message %> <br/> </strong>
<br/> <br/>

<style>
table, td {
    border: 1px solid black;
}
td { 
	border-spacing: 0;
	height: 25px;
	width: 25px;
	margin: 0; padding: 0;
	text-align: center;
}
</style>

board positions: <br/> <br/>
<table>
<% lines = board_index.each_slice(Math.sqrt(board.length)) %>
<% lines.each do |line| %>
	<tr>
	<% line.each do |position| %>
		<td><%= position %></td>
	<% end %>	
	</tr> 
<% end %>
</table> <br/> <br/>

current board: <br/> <br/>
<table>
<% lines = board.each_slice(Math.sqrt(board.length)) %>
<% lines.each do |line| %>
	<tr>
	<% line.each do |position| %>
		<td><%= position %></td>
	<% end %>	
	</tr> 
<% end %>
</table> <br/> <br/>

Where would you like to move? <input type="number" name="move">
<br/><br/>
<input type="submit">


</p>
</form>
