<form action="/CurrentStatus" method="POST">
<p>
<strong style="color: red; font-size: 1em;">Player 1 (<%= player1.name %>) is X.</strong><br/>
<strong style="color: red; font-size: 1em;">Player 2 (<%= player2.name %>) is O.</strong><br/>
<strong style="color: red; font-size: 1em;">Board size: <%= board_size %>.</strong><br/>
<strong style="color: red; font-size: 1em;">Number in row to win: <%= win_size %>.</strong><br/>
<br/>

<strong style="color: blue; font-size: 2em;"> <%= @message %> <br/> </strong>
<br/> <br/> <br/>

board positions: <br/> <br/>
<table>
<% lines = board_index.each_slice(Math.sqrt(board.length)) %>
<% lines.each do |line| %>
	<tr>
	<% line.each do |position| %>
		<td><%= position %></td>
	<% end %>	
	</tr> 
<% end %>
</table> <br/> <br/>

current board: <br/> <br/>
<table>
<% lines = board.each_slice(Math.sqrt(board.length)) %>
<% lines.each do |line| %>
	<tr>
	<% line.each do |position| %>
		<td><%= position %></td>
	<% end %>	
	</tr> 
<% end %>
</table> <br/> <br/>

<select name="play">
    <option value="Yes">Hit submit when you are ready for play to occur</option>
    <option value="No">Quit game</option>
    </select>
<br/><br/>
<input type="submit">



</p>
</form>
